.station-stop {
    background-color: var(--bulma-background);
}
/* .station-stop:hover {
    background-color: var(--bulma-scheme-main-bis);
}

*/
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.TAbackground-dot {
    background-color: var(--bulma-scheme-main);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blinking-dot-background {
    width: 3px;
    height: 30px;
    width: 30px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
        padding-top: 3px;
    transform: translate(-50%, -50%);
    background-color: var(--bulma-primary);
    }
    
    .blinking-dot {
        animation: blink 1s infinite;
}
    

.passed-dot {
    color: var(--bulma-link);
    width: 3px;
        height: 30px;
        width: 30px;
        top: 2px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
        left: 50%;
        text-align: center;
        padding-top: 3px;
    transform: translate(-50%, -50%);
    background-color: var(--bulma-primary);
}
        