.mobile-border {
    border-width: 50px 0 0 0 !important;
}

.mobile-border::before {
    content: '';
    display: block;
    background-color: var(--bulma-scheme-main);
    z-index: -1;
    width: 100%;
    position: absolute;
    height: 50px;
}

@media (max-width: 768px) {
    .mobile-full-height {
        height: auto;
        position: static;
    }
        .tablet-primary-background {
            background-color: var(--bulma-background) !important;
            color: var(--bulma-color) !important;
        }
    .mobile-border {
        border-width: 10px 0 0 0 !important;
    }
                                
}
@media (min-width: 769px) {
    .tablet-primary-background {
        color: var(--bulma-light) !important;
    }
}